<h1>{{title}}</h1>
<div>
  <img src="../assets/images/Bill_Gates.jpg" width="500px" style="float: left; margin-right: 20px;">
  <p>Ві́льям Ге́нрі Гейтс III (англ. William Henry 'Bill' Gates III; нар. 28 жовтня 1955, Сіетл, США) — американський
    бізнесмен, інвестор, письменник, філантроп, засновник корпорації Майкрософт, співголова Фонду Білла і Мелінди
    Гейтсів.[8][9] Протягом кар'єри в Microsoft, Гейтс займав позиції голови ради директорів, CEO та головного
    архітектора[en], одночасно до травня 2014 також будучи найбільшим акціонером.</p>
    <ul>
      Цитати Білла Гейтса:
      <li *ngFor="let quete of quotes">
        {{quete}}
      </li>
    </ul>

    <ul>
      Посилання на більш детальну інформацію про цю людину:
      <li *ngFor="let link of links">
        <a href="{{link[0]}}">{{link[1]}}</a>
      </li>
    </ul>
</div>
